@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent
@namespace Sandbox

<root>
	
	<div class="nav anim-slide-left anim-delay-5">
		<div class="button" @ref="navIdentity">IDENTITY</div>
		<div class="button" @ref="navAppearance">APPEARANCE</div>
		<div class="button">SKILLS</div>
		<div class="button">SHOP</div>
	</div> 

	<div class="panel">
		@switch (currentScreen)
		{
			case Screen.Identity:
			<div class="identity">

			@if (isError)
			{
				<span class="error-msg anim-slide-down anim-delay-2">@errorMessage</span>
			}
				<SantosTextEntry Title="First Name:" Placeholder="John" MinLength="@(2)" MaxLength="@(10)" @ref="FirstNameEntry" />
				<SantosTextEntry Title="Last Name:" Placeholder="Doe" MinLength="@(2)" MaxLength="@(10)" @ref="LastNameEntry" />
				<SantosDropDown Title="Gender" Options="@GenderOptions" Value="Male" @ref="GenderDropdown"/>
				<SantosNumEntry Title="Age:" Placeholder="100" MinLength="@(1)" MaxLength="@(3)"  @ref="AgeEntry" />

				<button @ref="NextButton" class="next-btn anim-slide-left anim-delay-5" @onclick="@SaveCharacter">
					<img src="images/check-solid.png" />
				</button>

			</div>
			break;

			case Screen.Appearance:
				// For now we will just finish creating the character.
				Game.ActiveScene.LoadFromFile("scenes/menu.scene");
			break;
		}
	</div>

</root>

@code
{

    private Screen currentScreen = Screen.Identity;
    public enum Screen
    {
        Identity,
        Appearance,
        Skills,
        Shop,
    }

    [Property] public SkinnedModelRenderer skinnedModelRenderer {get; set;}
    private List<PlayerData> characters = new();
    private string selectedGender = "male";
    private SantosTextEntry FirstNameEntry;
    private SantosTextEntry LastNameEntry;
    private SantosNumEntry AgeEntry {get; set;}
    private SantosDropDown GenderDropdown; // separate ref variable
    private List<Option> GenderOptions = new List<Option>
    {
        new Option( "Male", "male" ),
        new Option( "Female", "female" ),
    };

    private Panel navIdentity;
    private Panel navAppearance;
		private Panel NextButton;
		private bool isError = false;
		private string errorMessage;



    protected override void OnTreeBuilt()
    {	
        navIdentity.SetClass("active", currentScreen == Screen.Identity);
        navAppearance.SetClass("active", currentScreen == Screen.Appearance);
    }


	private void OnGenderChanged(string value)
	{
		selectedGender = value;

		if (selectedGender == "male") skinnedModelRenderer.Model = Model.Load("models/citizen_human/citizen_human_male.vmdl");
		else if (selectedGender == "female") skinnedModelRenderer.Model = Model.Load("models/citizen_human/citizen_human_female.vmdl");
		Log.Info($"Gender selected: {selectedGender}");
	}

	protected override void OnAwake()
	{
		Mouse.Visibility = MouseVisibility.Visible;
		characters = PlayerData.Load(Game.SteamId) ?? new();
	}

	private async void SaveCharacter()
	{	
		if (string.IsNullOrWhiteSpace(FirstNameEntry.Text) || string.IsNullOrWhiteSpace(LastNameEntry.Text) || selectedGender == null) 
		{ 
			errorMessage = "Fill out all the fields.";
			isError = true;
			NextButton.SetClass("error", true);
			await Task.DelaySeconds(0.3f);
			NextButton.SetClass("error", false);
			return;
		}
		else if (FirstNameEntry.Text.Any(char.IsDigit) || LastNameEntry.Text.Any(char.IsDigit)) {isError = true; errorMessage = "Name Cannot Contain Numbers"; return;}
		else if (float.Parse(AgeEntry.Value) < 18f)	{isError = true; errorMessage = "Minimum Age Is 18."; return;}
		else if (float.Parse(AgeEntry.Value) > 100) {isError = true; errorMessage = "Maximum Age Is 100."; return;}

		characters.Add(new PlayerData
		{
			FirstName = FirstNameEntry.Text,
			LastName = LastNameEntry.Text,
			Gender = selectedGender,
			Age = float.Parse(AgeEntry.Value)
		});

		isError = false;

		PlayerData.Save(characters, Game.SteamId);
		currentScreen = Screen.Appearance;
		

	}
}